.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: white;
}

.login_box {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: white;
}

.login_box h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 30px;
}

.login_box label {
  font-size: 16px;
  display: block;
  margin-top: 15px;
  color: #333;
}

.login_box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin-top: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login_box button {
  background-color: #2196f3;
  color: white;
  width: 40%;
  padding: 12px;
  margin-top: 25px ;
  margin-left: 90px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 1px 2px 2px black;
  transition: background-color 0.3s;
}

.login_box button:hover {
  background-color: #1976d2;
}

.login-success {
  color: green;
  margin-top: 15px;
  text-align: center;
}

.login-fail {
  color: red;
  margin-top: 15px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .login_box {
    padding: 20px;
  }

  .login_box input,
  .login_box button {
    font-size: 16px;
  }
}
